<div class="fht_order_detail">
    <div class="fht_hd">订单信息</div>
    <ul class="fht_order_tab">
      <li class="clearfix"><span class="fl"></span>订单号<span class="fr"><%=bookingRefNo%></span></li>
      <li class="clearfix"><span class="fl"></span>下单时间<span class="fr"><%=createTime%></span></li>
    </ul>
  </div>
<div class="fht_order_detail">
    <div class="fht_hd">出行人信息</div>
    <ul class="fht_order_tab">
      <li>
        <p class="clearfix"><span class="fl"></span>登记人1<span class="fr">BAI/LISA</span></p>
        <p class="clearfix"><span class="fl"></span>护照<span class="fr">112243546</span></p>
      </li>
      <li>
        <p class="clearfix"><span class="fl"></span>登记人2<span class="fr">BAI/LISA</span></p>
        <p class="clearfix"><span class="fl"></span>护照<span class="fr">112243546</span></p>
      </li>
    </ul>
    <ul class="order_cont_way">
      <li class="clearfix">
        <span class="fl"></span>联系电话<span class="fr"><%=contactNumber%></span>
      </li>
      <li class="clearfix">
        <span class="fl"></span>邮箱<span class="fr"><%=email%></span>
      </li>
    </ul>
  </div>
<!--订单总额-->
<div class="order_tot_price">
    <div class="fht_hd">订单总额</div>
    <div class="tot_prinum_wrap clearfix">
      <span class="fl">订单总额: <i class="tot_prinum"><%=vlm.Utils.getCurrency(currencyCode)%><%=totalFlightPrice%></i></span>
      <span class="fr fare_tip"></span>
    </div>
    <ul class="hft_pri_details">
      <li class="clearfix"><span class="fl">八达岭长城一日游</span><span class="fr">¥56×2</span></li>
      <li class="clearfix"><span class="fl">八达岭长城一日游</span><span class="fr">¥56×2</span></li>
      <li class="clearfix"><span class="fl">八达岭长城一日游</span><span class="fr">¥56×2</span></li>
      <li class="clearfix"><span class="fl">八达岭长城一日游</span><span class="fr">¥56×2</span></li>
    </ul>
  </div>
