
<!--模板酒店-->
  <div class="hotel_wrap">
    <h3><%=hotelName%></h3>
    <ul>
      <li class = "hotel_check_wrap">
        <span><%=DepartDate.substring(5,10).replace('-','月')%>日 - <%=ReturnDate.substring(5,10).replace('-','月')%>日</span>
        <% function getDayNum(arg1,arg2){
           var time1 = new Date(arg1.replace(/-/g,'/')), time2 = new Date(arg2.replace(/-/g,'/'));
           return  dayCount = (Math.abs(time2 - time1))/1000/60/60/24;
         }
        var dayNum = getDayNum(DepartDate.substring(0,10),ReturnDate.substring(0,10)); %>
        <span>共<%=dayNum%>晚（当地时间为准）</span>
      </li>
      <li class = "hotel_room_det">
        <span>房型：双人床</span>
        <span>房间数：<%=RoomDetails.length%>间</span>
      </li>
    </ul>
  </div>
